body {
            background-image: url("lovehim.jpg");
            background-size: 25%;
        }
        div {
          margin: auto; 
          width: 75%; 
          text-align: center; 
          background-color: #261543; 
          justify-content: center; 
          color: #9a80c6;
          padding: 5px;
        }
        a:visited {
          color: #61b613;
        }
table {
  margin-left: auto;
  margin-right: auto;
}
